/*Configurações gerais*/

* {

    margin: 0; 

    padding: 0; 
    
    box-sizing: border-box; 

    
}

body {

    font-family: Verdana, Roboto;

    background-color:#e0bb76;

    color: rgb(29, 3, 3); 

    line-height: 1.5;

}

/*Cabeçalho, Banner e Perfil*/

.cabecalho {

    background-color: #633756   ;

    font-family: Verdana, Geneva, Tahoma, sans-serif;

    border-bottom: 2px solid #5f08eb;

    padding-bottom: 15px;

    text-align: center;
}